link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
head
  link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  link(rel='stylesheet', href='../../stylesheets/nuevo.css')
  meta(name='google-site-verification' content='pxOa2Qv7Wq0cQ78SbERxoOVDxJ-XbKHZL8rvLmki3xs')

body#Registro
  .container
    .login-form
      .main-div
        .panel
          if info && info.message 
            div.alert.alert-danger
              = info.message
          h2 Registrarse
          p Por favor, ingrese los siguentes datos
        form#Login(action='/usuarios/create' method='post')
          .form-group
            input#nombre.form-control(type ='text' placeholder='Nombre' name='nombre' value= usuario.nombre class=errors.nombre ? 'is-invalid':'')
            if errors.nombre
              small#nombreHelp.text-danger
                =errors.nombre.message
          .form-group
            
            input#email.form-control(type ='text' placeholder='Email' name='email' value=usuario.email class=errors.email ? 'is-invalid':'')
            if errors.email
              small#emailHelp.text-danger
                =errors.email.message   
          .form-group
            
            input#pwd.form-control(type ='password' placeholder='Contraseña' name='password' class=errors.password ? 'is-invalid':'')
            if errors.password
              small#passwordHelp.text-danger
                =errors.password.message  
          .form-group
            
            input#confirm_pwd.form-control(type ='password' placeholder='Confirmar contraseña' name='confirm_password' class=errors.confirm_password ? 'is-invalid':'')
            if errors.confirm_password
              small#confirm_passwordHelp.text-danger
                =errors.confirm_password.message
                

          br
          br
          button.btn.btn-primary(type='submit') Registrarme
