extends ../layout

block content
	a(href = '/bicicletas') Volver
	br
	
	a(href = '/') Inicio

	br
	br
	br

	h1 Nueva Bicicleta

	br
	br



	form(action='/bicicletas/crear' method='post')
		label(for='id') Codigo: 
		input#code(type='text' name = 'id')
		br
		label(for='color') Color: 
		input#color(type='text' name = 'color')
		br
		label(for='modelo') Modelo: 
		input#modelo(type='text' name = 'modelo')
		br
		label(for='lat') Latitud: 
		input#modelo(type='text' name = 'lat')
		br
		label(for='lng') Longitud: 
		input#modelo(type='text' name = 'lng')
		br
		br
		input.btn(type='submit' value='Enviar')