extends ../layout

block content
	a(href = '/bicicletas') Volver
	br
	
	a(href = '/') Inicio

	br
	br
	br

	h1 Editar Bicicleta

	br
	br



	form(action=`/bicicletas/${bici.id}/update` method='post')
		label(for='id') Codigo: 
		input#id(type='text' name = 'id' value= bici.id)
		br
		label(for='color') Color: 
		input#color(type='text' name = 'color' value= bici.color)
		br
		label(for='modelo') Modelo: 
		input#modelo(type='text' name = 'modelo' value= bici.modelo)
		br
		label(for='lat') Latitud: 
		input#modelo(type='text' name = 'lat' value= bici.lat)
		br
		label(for='lng') Longitud: 
		input#modelo(type='text' name = 'lng' value= bici.lng)
		br
		br
		input.btn.btn-primary(type='submit' value='OK')